<template>
    <v-container fluid>
        <v-row justify="center">
            <v-col class="text-center">
                <h1 class="text-heading font-weight-regular">
                    Non-deterministic Finite Automata
                </h1>
            </v-col>
        </v-row>
        <v-row class="d-flex" justify="center">
            <v-col>
                <v-subheader class="pl-2">
                    <strong class="mr-2 text-heading">Q</strong>
                    <span class="text-overline">Number of States</span>
                    <em class="grey--text pa-2">(currently {{ nStates }})</em>
                </v-subheader>
                <v-slider
                    v-model="nStates"
                    ticks="always"
                    thumb-label
                    min="1"
                    max="10"
                ></v-slider>
                <v-row>
                    <v-col>
                        <v-select
                            v-model="qi"
                            :items="states"
                            label="Qi (Initial)"
                            outlined
                            chips
                        ></v-select>
                    </v-col>
                    <v-col>
                        <v-select
                            v-model="qf"
                            :items="states"
                            label="Qf (Final)"
                            multiple
                            outlined
                            chips
                        ></v-select>
                    </v-col>
                </v-row>
            </v-col>
            <v-col class="text-center align-self-center">
                <v-subheader class="pl-0">
                    <v-icon large left>mdi-sigma</v-icon>
                    <span class="text-overline">Alphabets</span>
                    <em class="grey--text pa-2">
                        (currently {{ alphabets.length }} chosen)
                    </em>
                </v-subheader>
                <v-combobox
                    v-model="alphabets"
                    :items="['ε'].concat(alphabets)"
                    :search-input.sync="search"
                    hide-selected
                    hide-details
                    multiple
                    small-chips
                >
                    <template v-slot:no-data>
                        <v-list-item>
                            <v-list-item-content>
                                <v-list-item-title>
                                    No results matching "<strong>{{
                                        search
                                    }}</strong
                                    >". Press <kbd>enter</kbd> to create a new
                                    one
                                </v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </template>
                </v-combobox>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <TransitionTable @upload_nfa="reinit"
                    :states="states"
                    :alphabets="alphabets"
                    :nStates="nStates"
                    :final="qf"
                    :initial="qi"
                    :simulate="true"
                />
            </v-col>
        </v-row>
    </v-container>
</template>
<script>
import TransitionTable from '../components/TransitionTable';
export default {
    name: 'NFA',
    components: { TransitionTable },
    data: () => {
        return {
            nStates: 1,
            search: null,
            alphabets: [],
            qi: '0',
            qf: [],
        };
    },
    computed: {
        states: function () {
            return [...Array(this.nStates).keys()].map(idx => `${idx}`);
        },
    },
    methods: {
        reinit(NFM){
            console.log(NFM)
            this.qf = NFM.final
            this.qi = NFM.initial
            this.alphabets = NFM.alphabets
            this.nStates = NFM.nStates

        }
    }
};
</script>