<template>
    <v-card flat outlined>
        <v-card-text>

            <pre> {{ dfa_show }} </pre>
            
            <!-- <template v-if="dfa != null"> -->

            <v-row>
                <v-col>
                    <v-btn color="primary" dark @click="init_run">DFA SIMULATION</v-btn>
                    <em class="grey--text pa-2">
                        (If alphabets are not visible, click DFA SIMULATION AGAIN)
                    </em>
                </v-col>
            </v-row>
            <!-- <template v-if="run.status == 'RUNNING'" -->
            <v-row v-if="run.status == 'Running'">
                <v-col>
                    <v-select
                        label = "Current State"
                        v-model="run.selectedState"
                        :items="run.startPossibleStates"
                        outlined
                        ></v-select>
                </v-col>
                <v-col>
                    <v-select
                        label = "Symbol"
                        v-model="run.charChoice"
                        :items="run.suitableChars[run.selectedState]"
                        outlined
                        ></v-select>
                </v-col>

                <v-col>
                    <v-text-field
                        label = "Immediately Reachable States: 0, 1, 2....."
                        :value="run.nextStates"
                        v-model='run.nextStates_selected'
                        outlined
                        ></v-text-field>
                </v-col>
                <v-col>
                    <v-btn color="primary" dark @click="check_next">VERIFY</v-btn>

                    <v-dialog v-model="dialogIncorrect" max-width="500px">
                        <v-card>
                            <v-card-title class="headline">
                                Wrong Immediately Reachable States
                            </v-card-title>
                            <v-card-text>
                                <p>- Make sure the entered States are seperated by space.</p>
                                <p>- Make sure there are no State repeated.</p>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn
                                    color="primary"
                                    text
                                    @click="closeDelete"
                                    >OK</v-btn
                                >
                                <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>



                </v-col>

            </v-row>
            <v-row v-if="run.status == 'Running'">
                <v-col>
                <v-data-table
                    :headers="sim_headers"
                    :items="run.sim_transitions"
                    :loading="loading"
                    class="elevation-1"
                    multi-sort
                    show-group-by
                >
                    <template v-slot:top>
                        <v-toolbar flat>
                            <v-toolbar-title class="text-overline"
                                ><v-icon left large>mdi-sigma-lower</v-icon
                                >Transition Function</v-toolbar-title
                            >
                            <v-divider class="mx-4" inset vertical></v-divider>
                            <v-spacer></v-spacer>

                        </v-toolbar>
                    </template>
                    <template v-slot:item.alphabet="{ item }">
                        <v-chip large class="ma-2">
                            <strong>{{ item.alphabet }}</strong>
                        </v-chip>
                    </template>

                </v-data-table>
                </v-col>
            </v-row>




            <v-row>
                <v-col>
                <v-data-table
                    :headers="dfa_headers"
                    :items="dfa_transitions"
                    :loading="loading"
                    class="elevation-1"
                    multi-sort
                    show-group-by
                >
                    <template v-slot:top>
                        <v-toolbar flat>
                            <v-toolbar-title class="text-overline"
                                ><v-icon left large>mdi-sigma-lower</v-icon
                                >Transition Function</v-toolbar-title
                            >
                            <v-divider class="mx-4" inset vertical></v-divider>
                            <v-spacer></v-spacer>

                        </v-toolbar>
                    </template>
                    <template v-slot:item.alphabet="{ item }">
                        <v-chip large class="ma-2">
                            <strong>{{ item.alphabet }}</strong>
                        </v-chip>
                    </template>

                </v-data-table>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <v-btn color="primary" dark @click="draw">DFA DIAGRAM</v-btn>
                    <em class="grey--text pa-2">
                        (If the diagram is not visible, click DFA DIAGRAM AGAIN)
                    </em>
                    </v-col>
                    <v-col>
                    <v-card-title class="text-overline font-weight-bold">
                        DFA Diagram
                    </v-card-title>
                    <p v-html="dfa_diagram"></p>
                </v-col>
            </v-row>

            <!-- </template> -->

        </v-card-text>
    </v-card>
</template>

<script>

import regParser from 'automata.js';
import Viz from 'viz.js';
import workerURL from 'file-loader!viz.js/full.render.js';
import nfa_convert from './nfa_to_dfa';


export default {
    name: 'DFAConversion',
    props: ['states', 'transitions', 'alphabets', 'nfa'],
    data: () => ({
        loading: false,
        dfa: null,
        dfa_diagram: null,
        dialogIncorrect: false,
        dfa_headers: [
            {
                text: 'From State',
                align: 'start',
                sortable: true,
                value: 'q_i',
                groupable: true,
            },
            {
                text: 'Alphabet',
                value: 'alphabet',
                sortable: true,
                groupable: true,
            },
            { text: 'To State', value: 'q_f', sortable: true, groupable: true },
        ],
        sim_headers: [
            {
                text: 'From State',
                align: 'start',
                sortable: true,
                value: 'q_i',
                groupable: true,
            },
            {
                text: 'Alphabet',
                value: 'alphabet',
                sortable: true,
                groupable: true,
            },
            { text: 'To State', value: 'q_f', sortable: true, groupable: true },
        ],
        editedItem: {
            q_i: '',
            q_f: '',
            alphabet: '',
        },
        run: {
            startPossibleStates: [],
            possibleStates: {} ,
            possibleNexts: [],
            selectedState : '',
            sim_transitions: [],
            nextStates_selected : '',
            nextState: null,
            index: -1,
            tape: null,
            status: null,
            charChoice: '',
            suitableChars: {},
        },
    }),
    created() {
        this.viz = new Viz({ workerURL });
    },
    methods: {
        closeDelete() {
            this.dialogIncorrect = false;
        },
        check_next() {
            // console.log(this.run.nextStates_selected);
            let selected_states = this.run.nextStates_selected.trim().split(/\s*/).sort();

            // console.log(this.run['possibleStates'][this.run.selectedState]);
            // console.log(selected_states);

            let allStates = [];
            for(let each = 0; each < this.nfa['numOfStates'];each++) allStates.push(each);
            // this.run['startPossibleStates'] = allStates;

            console.log(this.dfa['transitions']['0']);
            console.log(this.dfa);
            let temp_obj = {};
            for(let each in this.dfa['transitions']){
                if(each in this.dfa['transitions']){
                    temp_obj[each] = {};
                    for(let each_to_state in this.dfa['transitions'][each]){

                        let req_alpha = this.dfa['transitions'][each][each_to_state].split(", ");

                        for(let each_alpha in req_alpha){
                            if(req_alpha[each_alpha] in temp_obj[each])
                                temp_obj[each][req_alpha[each_alpha]].push(each_to_state);
                            else{
                                temp_obj[each][req_alpha[each_alpha]] = [];
                                temp_obj[each][req_alpha[each_alpha]].push(each_to_state);
                            }

                        }

                    }
                }
                else
                    temp_obj[each] = {};
            }
            
            // console.log(temp_obj);


            // console.log(selected_states);
            // console.log(temp_obj[this.run.selectedState][this.run.charChoice]);

            var req_states_str = ''
            selected_states.forEach(each_s_state => {
                req_states_str += each_s_state;
            });
            // console.log(req_states_str);
            var cmp_string = ''
            temp_obj[this.run.selectedState][this.run.charChoice].sort();
            temp_obj[this.run.selectedState][this.run.charChoice].forEach(each_s_state => {
                cmp_string += each_s_state;
            });
            if(req_states_str == cmp_string ){
                console.log(true);
                // console.log(this.transitions);
                let alphas_list = [];
                this.transitions.forEach(each_transition => {
                    let exists = alphas_list.findIndex(x => x == each_transition['alphabet']);
                    
                    if(exists == -1) alphas_list.push(each_transition['alphabet']);
                });
                alphas_list.sort();
                let new_state = '';
                selected_states.forEach(each_state => {
                    new_state += each_state;
                });
                console.log(new_state);
                this.run.suitableChars[new_state] = this.alphabets;
                this.run['startPossibleStates'].push(new_state);
                console.log('alphabets');
                console.log(this.alphabets);
                this.run.suitableChars[new_state] = this.alphabets;
                this.run.sim_transitions.push({'q_i': this.run.selectedState, 'alphabet': this.run.charChoice, 'q_f': cmp_string});
                // console.log(alphas_list);
                // this.run.
            }
            else{
                console.log(false);
                this.dialogIncorrect = true;
                // VueSimpleAlert.$alert("False");
            }
        },
        init_run() {
            // if (this.text1 == '') return;
            this.steps = [];
            // this.run['tape'] = this.text1;

            let allStates = [];
            for(let each = 0; each < this.nfa['numOfStates'];each++) allStates.push(each);
            this.run['startPossibleStates'] = [this.nfa['initialState']];
            // this.run['startPossibleStates'] = Object.keys(this.nfa['transitions']);
            // Object.keys(this.nfa['transitions'])
            this.run['index'] = 0;
            // let currentAlpha = this.run['tape'][this.run['index']];
            // console.log(currentAlpha);
            this.run['status'] = 'Running';
            // this.run.suitableChars = [currentAlpha];
            // let suitableChars_list = [];

            console.log(this.nfa['transitions']);
            let temp_obj = {};
            for(let each in allStates){
                if(each in this.nfa['transitions']){
                    temp_obj[each] = {};
                    for(let each_to_state in this.nfa['transitions'][each]){
                        console.log('here');
                        console.log(each_to_state);
                        console.log(this.nfa['transitions'][each][each_to_state]);
                        // console.log(temp_obj);
                        let req_alpha = this.nfa['transitions'][each][each_to_state].split(", ");
                        console.log(req_alpha);
                        for(let each_alpha in req_alpha){
                            if(req_alpha[each_alpha] in temp_obj[each])
                                temp_obj[each][req_alpha[each_alpha]].push(each_to_state);
                            else{
                                temp_obj[each][req_alpha[each_alpha]] = [];
                                temp_obj[each][req_alpha[each_alpha]].push(each_to_state);
                            }

                        }
                        // if(this.nfa['transitions'][each][each_to_state] in temp_obj[each])
                        //     temp_obj[each][this.nfa['transitions'][each][each_to_state]].push(each_to_state);
                        // else{
                        //     temp_obj[each][this.nfa['transitions'][each][each_to_state]] = [];
                        //     temp_obj[each][this.nfa['transitions'][each][each_to_state]].push(each_to_state);
                        // }

                    }
                }
                    // temp_obj[each] = Object.keys(this.nfa['transitions'][each]);
                else
                    temp_obj[each] = {};
            }
            // this.run['possibleStates'] = temp_obj;
            console.log(temp_obj);

            // this.run['nextStates']


            // console.log(this.run.nextStates_selected);
            // Object.keys(this.nfa['transitions'][this.run['currentState']])

            let alphas_list = {};
            this.transitions.forEach(each_transition => {
                if(each_transition['q_i'] in alphas_list){
                    let exists = alphas_list[each_transition['q_i']].findIndex(x => x == each_transition['alphabet']);
                    if(exists == -1) alphas_list[each_transition['q_i']].push(each_transition['alphabet']);
                }
                else{
                    alphas_list[each_transition['q_i']] = [];
                    alphas_list[each_transition['q_i']].push(each_transition['alphabet']);
                }
            });
            // alphas_list.sort();
            console.log(alphas_list);
            this.run['suitableChars'] = alphas_list;


            // for(let from_state in this.nfa['transitions']){
            //     console.log(from_state);
            //     for(let to_state in this.nfa['transitions'][from_state]){
            //         // if(_temp_dfa['transitions'][from_state][to_state])
            //             console.log("to " + to_state + " by " + this.nfa['transitions'][from_state][to_state]);
            //             // _dfa_transitions.push({'q_i': from_state, 'q_f': to_state, 'alphabet': this.dfa['transitions'][from_state][to_state]});
            //         // console.log(to_state);
            //         // console.log("by");

            //     }
            // }

            // this.run['possibleStates'] = 
            // for(let states in this.transitions[this.run['currentState']]){
            //         suitableChars_list.push(states);

            // }
            // console.log(this.nfa);
            // this.run.suitableChars = suitableChars_list;
            // if (
            //     'ε' in this.traversal[this.run['currentState']] &&
            //     this.traversal[this.run['currentState']]['ε'].length != 0
            // ) {
            //     this.run.suitableChars.push('ε');
            //     console.log('Epsilon Found');
            // }
            // console.log(this.run.suitableChars);
            // let pStates = {};
            // this.run.suitableChars.forEach(ch => {
            //     if (ch in this.traversal[this.run['currentState']])
            //         pStates[ch] = this.traversal[this.run['currentState']][ch];
            // });
            // console.log(pStates);
            // this.run['possibleStates'] = pStates;
            // this.visualize();
            // this.legend_gen();
        },
        convert_to_dfa() {
            // console.log(this.transitions);
            let dfa_transitions = [];
            let tempo1 = nfa_convert.create("Title");
            let ini_state = this.nfa['initialState'];

            for(let each_from in this.nfa['transitions']){

                let tempo2 = tempo1.addState(each_from);
                
                if(ini_state == each_from) tempo2.initial();

                this.nfa['acceptStates'].forEach(final_state => {
                    if(each_from == final_state) tempo2.final();
                });

                for(let each_to in this.nfa['transitions'][each_from]){
                    let temp_alpha_list = this.nfa['transitions'][each_from][each_to];
                    let alpha_list = temp_alpha_list.split(", ");
                    for(let each_inp in alpha_list){

                        if(each_from == each_to) tempo2.loop(alpha_list[each_inp]);
                        
                        else tempo2.goTo(each_to, alpha_list[each_inp]);
                    }
                }
                tempo1.states[tempo1.states.length - 1] = tempo2;
            }

            this.nfa['acceptStates'].forEach(each_final_state => {
                if(! (each_final_state in this.nfa['transitions'])){
                    tempo1.addState(each_final_state).final();
                }
            });


            this.dfa = tempo1.toDfa();
            // console.log(this.dfa);

            let _temp_dfa = new regParser.FSM();


            _temp_dfa['numberOfStates'] = this.dfa.states.length;
            _temp_dfa['type'] = "DFA";
            this.dfa.states.forEach(each_state => {
                let from_state = each_state['label'].replace(/,/g, '');
                if(each_state['isInitial']) _temp_dfa['initialState'] = from_state;

                if(each_state['isFinal']) _temp_dfa['acceptStates'].push(from_state);

                each_state['transitions'].forEach(each_transition => {

                    let to_state = each_transition['to'].replace(/,/g, '');

                    if(from_state in _temp_dfa['transitions']){
                        
                        if(to_state in _temp_dfa['transitions'][from_state])
                            _temp_dfa['transitions'][from_state][to_state] += (',' + each_transition['symbol'][0]);
                        else
                            _temp_dfa['transitions'][from_state][to_state] = ( each_transition['symbol'][0]);
                    }
                    else{
                        _temp_dfa['transitions'][from_state] = {};

                        if(to_state in _temp_dfa['transitions'][from_state])
                            _temp_dfa['transitions'][from_state][to_state] += (',' + each_transition['symbol'][0]);
                        else
                            _temp_dfa['transitions'][from_state][to_state] = (each_transition['symbol'][0]);

                    }

                    // dfa_transitions.push({'q_i': from_state, 'q_f': to_state, 'alphabet': _temp_dfa['transitions'][from_state][to_state]});
                });
                
            });


            for(let from_state in _temp_dfa['transitions']){
                // console.log(from_state);
                for(let to_state in _temp_dfa['transitions'][from_state]){
                    // if(_temp_dfa['transitions'][from_state][to_state])
                        // console.log("to " + to_state + " by " + _temp_dfa['transitions'][from_state][to_state]);
                        dfa_transitions.push({'q_i': from_state, 'q_f': to_state, 'alphabet': _temp_dfa['transitions'][from_state][to_state]});
                    // console.log(to_state);
                    // console.log("by");

                }
            }



            // this.dfa.states.forEach(each_state => {
            //     let from_state = each_state['label'].replace(/,/g, '');
            //     if(each_state['isInitial']) _temp_dfa['initialState'] = from_state;

            //     if(each_state['isFinal']) _temp_dfa['acceptStates'].push(from_state);

            //     each_state['transitions'].forEach(each_transition => {

            //         let to_state = each_transition['to'].replace(/,/g, '');

            //         if(from_state in _temp_dfa['transitions']){
                        
            //             if(to_state in _temp_dfa['transitions'][from_state])
            //                 _temp_dfa['transitions'][from_state][to_state] += (',' + each_transition['symbol'][0]);
            //             else
            //                 _temp_dfa['transitions'][from_state][to_state] = ( each_transition['symbol'][0]);
            //         }
            //         else{
            //             _temp_dfa['transitions'][from_state] = {};

            //             if(to_state in _temp_dfa['transitions'][from_state])
            //                 _temp_dfa['transitions'][from_state][to_state] += (',' + each_transition['symbol'][0]);
            //             else
            //                 _temp_dfa['transitions'][from_state][to_state] = (each_transition['symbol'][0]);

            //         }

            //         // dfa_transitions.push({'q_i': from_state, 'q_f': to_state, 'alphabet': _temp_dfa['transitions'][from_state][to_state]});
            //     });
                
            // });







            this.dfa = _temp_dfa;
            // console.log(_temp_dfa['transitions']);
            // this.states = this.dfa
            // console.log(this.dfa.transitions());
            this.draw();

        },
        draw() {
            this.loading = true;
            var fsm = this.dfa;
            var acceptStatesDotScript = '';
            fsm.acceptStates.forEach(acceptState => {
                acceptStatesDotScript += '  node [shape = doublecircle]; ' + acceptState + ';\n';
            });
            var DotScript = fsm.toDotScript();
            // DotScript = DotScript.slice(0, -2) + acceptStatesDotScript;
            DotScript = DotScript.replace('rankdir = LR;', 'rankdir = LR;' + acceptStatesDotScript);
            console.log(fsm.acceptStates);
            console.log(fsm);
            console.log(DotScript);
            console.log('here');

            this.viz
                .renderSVGElement(DotScript)
                .then(element => (this.dfa_diagram = element.outerHTML));
            this.loading = false;
        },
    },
    computed: {
        dfa_show : function() {
            return this.convert_to_dfa();
        },
        dfa_transitions : function() {
            let _dfa_transitions = [];
            for(let from_state in this.dfa['transitions']){
                // console.log(from_state);
                for(let to_state in this.dfa['transitions'][from_state]){
                    // if(_temp_dfa['transitions'][from_state][to_state])
                        // console.log("to " + to_state + " by " + this.dfa['transitions'][from_state][to_state]);
                        _dfa_transitions.push({'q_i': from_state, 'q_f': to_state, 'alphabet': this.dfa['transitions'][from_state][to_state]});
                    // console.log(to_state);
                    // console.log("by");

                }
            }
            return _dfa_transitions;
        },
        // sim_transitions : function() {
        //     let _sim_transitions = [];
        // }
        // traversal() {
        //     let travTrans = {};
        //     this.states.forEach(state => {
        //         let possible_states = {};
        //         this.alphabets.forEach(alph => (possible_states[alph] = []));
        //         travTrans[state] = possible_states;
        //     });
        //     this.transitions.forEach(transition =>
        //         travTrans[transition['q_i']][transition['alphabet']].push(
        //             transition['q_f']
        //         )
        //     );
        //     return travTrans;
        // },
    },
    watch: {
        dialogDelete(val) {
            val || this.closeDelete();
        },
    },
    

};
</script>