<template>
    <v-footer app max-height="10%">
        <span class="text-heading text-overline">
            Group - 3
            <v-chip
                v-for="user in users"
                :key="user.username"
                :href="'https://gitlab.com/' + user.username"
                x-small
                outlined
                color="primary"
                class="ma-1"
            >
                <v-icon left x-small>mdi-account-circle-outline</v-icon>
                {{ user.name }}
            </v-chip>
        </span>
        <v-spacer></v-spacer>
        <v-toolbar-title class="text-center justify-center py-6" max-height="7%">
            <h4 class="text-subtitle font-weight-thin">Finite Automata</h4>
        </v-toolbar-title>
    </v-footer>
</template>
<script>
export default {
    name: 'Footer',
    data: () => {
        return {
            users: [
                {
                    username: 'ronatello',
                    name: 'Aaron A',
                },
                {
                    username: 'archit.goyal',
                    name: 'Archit G',
                },
                {
                    username: 'pk13055',
                    name: 'Pratik K',
                },
                {
                    username: 'Sowrya',
                    name: 'Sowrya D',
                },
            ],
        };
    },
};
</script>