<template>
    <v-app-bar app>
        <v-spacer></v-spacer>
        <v-toolbar-title class="text-center justify-center py-6">
            <h1 class="font-weight-thin">Finite Automata</h1>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <template v-slot:extension>
            <v-tabs fixed-tabs>
                <v-tab to="/regex2nfa">
                    <v-icon left large>mdi-regex</v-icon> Regex
                    <v-icon class="ma-2">mdi-arrow-left-right</v-icon>
                    <v-icon left large>mdi-state-machine</v-icon> NFA
                </v-tab>
                <v-tab to="/nfa">
                    <v-icon left large>mdi-state-machine</v-icon> NFA
                </v-tab>
                <v-tab to="/nfa2dfa">
                    <v-icon left large>mdi-state-machine</v-icon> NFA
                    <v-icon class="ma-2">mdi-arrow-left-right</v-icon>
                    <v-icon left large>mdi-vector-circle</v-icon> DFA
                </v-tab>
            </v-tabs>
        </template>
    </v-app-bar>
</template>
<script>
export default {
    name: 'Navbar',
};
</script>