<template>
    <v-card :loading="run.status == 'Running'" elevation="5">
        <v-card-text class="text-center">
            <v-card-title><span class="text-h4">Simulation</span></v-card-title>
            <v-container fluid>
                <v-row>
                    <v-col>
                        <v-text-field
                            label="Input String"
                            outlined
                            counter
                            clearable
                            v-model="text1"
                            prepend-inner-icon="mdi-code-string"
                            append-outer-icon="mdi-state-machine"
                            @click:append-outer="init_run"
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row align="center">
                    <v-col class="text-center">
                        <p v-html="simulator"></p>
                    </v-col>
                </v-row>
                <v-row v-if="run.status">
                    <v-col>
                        <v-text-field
                            label = "Status"
                            :value="run.status"
                            outlined
                            readonly
                            ></v-text-field>
                    </v-col>
                    <v-col>
                        <v-text-field
                            label = "Current State"
                            :value="run.currentState"
                            outlined
                            readonly
                            ></v-text-field>
                    </v-col>
                    <v-col>
                        <v-text-field
                            label = "Scan Index"
                            :value="run.index"
                            outlined
                            readonly
                            ></v-text-field>
                    </v-col>
                    <v-col>
                        <v-text-field
                            label = "Scanned Symbol"
                            :value="run.tape[run.index]"
                            outlined
                            readonly
                            ></v-text-field>
                    </v-col>
                    <v-col>
                        <v-select
                            v-model="run.charChoice"
                            :items="run.suitableChars"
                            label="Consume Symbol"
                            outlined
                        ></v-select>
                    </v-col>
                    <v-col>
                        <v-select
                            v-model="run.nextState"
                            :items="run.possibleStates[run.charChoice]"
                            label="Next State"
                            outlined
                        ></v-select>
                    </v-col>
                </v-row>
            </v-container>
        </v-card-text>
        <v-card-actions v-if="run.status">
            <v-btn-toggle>
                <v-btn outlined color="primary" @click="prevStep">
                    <v-icon left>mdi-skip-previous-circle-outline</v-icon>
                    Previous
                </v-btn>
                <v-btn outlined block color="primary" @click="nextStep">
                    Next
                    <v-icon right>mdi-skip-next-circle-outline</v-icon>
                </v-btn>
            </v-btn-toggle>
            <v-spacer></v-spacer>
            <v-btn
                text
                icon
                color="primary"
                @click="legend_dialog = !legend_dialog"
            >
                <v-icon>mdi-information-outline</v-icon>
            </v-btn>
        </v-card-actions>
        <v-bottom-sheet v-model="legend_dialog" inset>
            <v-sheet class="text-center" height="200px" >
                <v-card flat>
                    <v-card-title>
                        <span class="headline">
                            <v-icon left>mdi-information-outline</v-icon>
                            Legends
                        </span>
                        <v-spacer></v-spacer>
                        <v-btn icon @click="legend_dialog = !legend_dialog">
                            <v-icon>mdi-close</v-icon>
                        </v-btn>
                    </v-card-title>
                    <div class="py-3">
                    <p v-html="legend"></p>
                    </div>
                </v-card>
            </v-sheet>
        </v-bottom-sheet>
    </v-card>
</template>
<script>
import Viz from 'viz.js';
import workerURL from 'file-loader!viz.js/full.render.js';

export default {
    name: 'NFASimulation',
    props: ['states', 'alphabets', 'transitions', 'nfa'],
    data: () => ({
        simulator: null,
        legend: null,
        legend_dialog: false,
        run: {
            currentState: null,
            possibleStates: {},
            nextState: null,
            index: -1,
            tape: null,
            status: null,
            charChoice: '',
            suitableChars: [],
        },
        steps: [],
        text1: '',
    }),
    created() {
        this.viz = new Viz({ workerURL });
    },
    computed: {
        traversal() {
            let travTrans = {};
            this.states.forEach(state => {
                let possible_states = {};
                this.alphabets.forEach(alph => (possible_states[alph] = []));
                travTrans[state] = possible_states;
            });
            this.transitions.forEach(transition =>
                travTrans[transition['q_i']][transition['alphabet']].push(
                    transition['q_f']
                )
            );
            return travTrans;
        },
    },
    methods: {
        init_run() {
            if (this.text1 == '') return;
            this.steps = [];
            this.run['tape'] = this.text1;
            this.run['currentState'] = this.nfa['initialState'];
            this.run['index'] = 0;
            let currentAlpha = this.run['tape'][this.run['index']];
            console.log(currentAlpha);
            this.run['status'] = 'Running';
            this.run.suitableChars = [currentAlpha];
            if (
                'ε' in this.traversal[this.run['currentState']] &&
                this.traversal[this.run['currentState']]['ε'].length != 0
            ) {
                this.run.suitableChars.push('ε');
                console.log('Epsilon Found');
            }
            console.log(this.run.suitableChars);
            let pStates = {};
            this.run.suitableChars.forEach(ch => {
                if (ch in this.traversal[this.run['currentState']])
                    pStates[ch] = this.traversal[this.run['currentState']][ch];
            });
            console.log(pStates);
            this.run['possibleStates'] = pStates;
            this.visualize();
            this.legend_gen();
        },
        nextStep() {
            if (this.run.status == 'Running') {
                if (this.run['nextState'] == null) {
                    if (this.run.charChoice == '') {
                        alert('Please Select a Character For Consumption');
                        return;
                    } else {
                        if (
                            this.run.charChoice in this.run.possibleStates &&
                            this.run.possibleStates[this.run.charChoice]
                                .length != 0
                        ) {
                            alert('Please Choose a Next State');
                            return;
                        } else {
                            this.run.status = 'Rejected';
                            alert(
                                'No Possible transitions/ Can not digest the symbol'
                            );
                            this.visualize();
                            return;
                        }
                    }
                } else {
                    console.log('Next');
                    this.steps.push(Object.assign({}, this.run));
                    this.run.currentState = this.run.nextState;
                    this.run.nextState = null;
                    if (this.run.charChoice != 'ε') {
                        if (this.run.tape.length > this.run.index + 1) {
                            this.run.index++;
                            let currentAlpha = this.run['tape'][
                                this.run['index']
                            ];
                            console.log(currentAlpha);
                            this.run.suitableChars = [currentAlpha];
                            if (
                                'ε' in
                                    this.traversal[this.run['currentState']] &&
                                this.traversal[this.run['currentState']]['ε']
                                    .length != 0
                            ) {
                                this.run.suitableChars.push('ε');
                                console.log('Epsilon Found');
                            }
                            console.log(this.run.suitableChars);
                            let pStates = {};
                            this.run.suitableChars.forEach(ch => {
                                if (
                                    ch in
                                    this.traversal[this.run['currentState']]
                                )
                                    pStates[ch] = this.traversal[
                                        this.run['currentState']
                                    ][ch];
                            });
                            console.log(pStates);
                            this.run['possibleStates'] = pStates;
                        } else {
                            this.run.possibleStates = {};
                            this.run.suitableChars = [];
                            if (
                                this.nfa['acceptStates'].indexOf(
                                    this.run['currentState']
                                ) !== -1
                            )
                                this.run.status = 'Accepted';
                            else this.run.status = 'Rejected';
                        }
                    } else {
                        let currentAlpha = this.run['tape'][this.run['index']];
                        this.run.suitableChars = [currentAlpha];
                        if (
                            'ε' in this.traversal[this.run['currentState']] &&
                            this.traversal[this.run['currentState']]['ε']
                                .length != 0
                        ) {
                            this.run.suitableChars.push('ε');
                            console.log('Epsilon Found');
                        }
                        console.log(this.run.suitableChars);
                        let pStates = {};
                        this.run.suitableChars.forEach(ch => {
                            if (ch in this.traversal[this.run['currentState']])
                                pStates[ch] = this.traversal[
                                    this.run['currentState']
                                ][ch];
                        });
                        console.log(pStates);
                        this.run['possibleStates'] = pStates;
                    }
                    this.run.charChoice = '';
                    this.visualize();
                }
            } else {
                return;
            }
        },
        visualize() {
            var fsm = this.nfa;
            var dot_rep = fsm.toDotScript();
            console.log(dot_rep);
            var cState = '';
            var pStates = '';
            var pStatelist = [];
            for (var sym in this.run.possibleStates) {
                pStatelist.push(...this.run.possibleStates[sym]);
            }
            console.log(pStatelist);
            if (this.run.status == 'Running') {
                cState =
                    this.run.currentState +
                    ' [fillcolor = "YELLOW", style = "filled"];\n';
                pStatelist.forEach(pState => {
                    pStates +=
                        pState + ' [fillcolor = "ORANGE", style = "filled"];\n';
                });
            } else if (this.run.status == 'Accepted')
                cState =
                    this.run.currentState +
                    ' [fillcolor = "Green", style = "filled"];\n';
            else
                cState =
                    this.run.currentState +
                    ' [fillcolor = "RED", style = "filled"];\n';
            dot_rep = dot_rep.slice(0, -2) + pStates + cState + '}';
            console.log(dot_rep);
            this.viz
                .renderSVGElement(dot_rep)
                .then(element => (this.simulator = element.outerHTML));
        },
        legend_gen() {
            let dot_legend_hd =
                'digraph Legends { \n nodesep=1; \n forcelabels=true ; \n ';
            let dot_legend_nodes = '';
            let nodes_types = {
                State: ['circle', 'WHITE', 'State'],
                Final_State: ['doublecircle', 'WHITE', 'Final State'],
                Current_State: ['circle', 'YELLOW', 'Current State'],
                Possible_Next_State: [
                    'circle',
                    'ORANGE',
                    'Possible Next State',
                ],
                Input_Rejected: ['circle', 'RED', 'Input Rejected'],
                Input_Accepted: ['circle', 'GREEN', 'Input_Accepted'],
            };
            for (var n in nodes_types) {
                dot_legend_nodes +=
                    'node [shape=' +
                    nodes_types[n][0] +
                    ',fillcolor=' +
                    nodes_types[n][1] +
                    ',style="filled", label =" ",fontsize=10, xlabel="' +
                    nodes_types[n][2] +
                    '" ] ' +
                    n +
                    '; \n';
            }
            let dot_legend = dot_legend_hd + dot_legend_nodes + '}';
            console.log(dot_legend);
            this.viz
                .renderSVGElement(dot_legend)
                .then(element => (this.legend = element.outerHTML));
        },
        prevStep() {
            if (this.steps.length > 0) this.run = this.steps.pop();
            else alert('No More Previous Steps Available');
            this.visualize();
        },
    },
};
</script>